
#DataDrivenPNG {
    text-align: center;
}

#DataDrivenText {
    text-align: center;
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: small;
    font-weight: lighter;
    font-stretch: expanded;
    background-color: rgb(176, 188, 197);
    color: rgb(0, 0, 0);
}

#wargame {
    text-align: center;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

#matplotlib {
    text-align: center;
}

#waruml {
    padding-bottom: 15px;
}

#heatmapMPL {
    padding-bottom: 75px;
}

#legend {
    padding-bottom: 75px;
}